@use 'overwrites';

$background-black: #000000;
$text-color: #B3B3B3;


/*LEFT NAVIGATION MENU*/

.left-side {
    position: relative;
    position: fixed;
    left: 0;
    width: 330px;
    height: 100%;
    background-color: $background-black;
    color: white;
    padding: 25px 25px 150px 25px;
    font-family: sans-serif;
    z-index: 1;
}

.left-side--logo {
    margin-bottom: 35px;
}


.left-side--logo img{
    max-width: 38px;
    margin-right: 5px;
}

.left-side span{
    display: flex;
    align-items: center;
    font-size: 25px;
}

.left-side--navigation {
    margin-bottom: 45px;
}

.left-side--navigation h4 {
    font-size: 14px;
    color: $text-color;
}

.left-side--navigation span {
    margin-bottom: 17px;
}

.left-side--navigation img{
    max-width: 22px;
    margin-right: 17px;
}
.left-side--playlists span {
    margin-bottom: 17px;
}

.left-side--playlists img{
    max-width: 22px;
    margin-right: 17px;
}

.left-side hr {
    background-color: #282828;
    border: none;
    height: 1px;
    margin: 8px;
}

.install-app {
    position: absolute;
    bottom: 30%;
}

.install-app img {
    max-width: 22px;
    margin-right: 17px;
}
/*BOTTOM NAVIAGTION MENU*/

.bottom-side {
    background-color: #181818;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    z-index: 2;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}

.currently-playing {
    display: flex;
    align-items: center;
}

.currently-playing--image img{
    max-width: 60px;
    margin-right: 15px;
}

.currently-playing h5{
    font-size: 12px;
    margin-bottom: 7px;
}

.currently-playing p {
    font-size: 11px;
    color: $text-color;
}

.currently-playing--icons{
    margin-left: 20px;
}


.currently-playing--icons img{
    max-width: 15px;
    margin-left: 10px;
}

.music-control {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.music-control--buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    align-content: center;
}
.music-control--buttons img {
    max-width: 15px;
}
.music-control--bar{
    align-self: center;
}
.music-control--bar hr{
    width: 300px;
    height: 2px;
    margin: 15px;
}

.sound-control {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-right: 40px;
}

.sound-control img{
    max-width: 15px;
    margin-left: 20px;
}
.sound-control hr {
    width: 150px;
    margin: 10px;
}

/*MAIN SIDE*/
.main-side {
    margin-left: 380px;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-image: linear-gradient(#3A1812, #000);
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px 20px 30px;
}

nav img{
    max-width: 30px;    
    margin-right: 20px;
}

.nav-right {
    display: flex;
    align-items: center;
    color: white;
    background-color: #110705;
    padding: 4px;
    border-radius: 50px;

}

.welcome-text  {
    margin-left: 30px;
    font-size: 30px;
    color: white;
}

